<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="myCtrl.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<style>

</style>
<body>
  <div class="container">

        <div class="main-row" *ngFor="let date of uniqDates">
          <div class="row">
            <h3>{{formatDate(date)}}</h3>
          </div>
          <div class="row row-content" *ngFor="let list of channelList | myfilter:date">
              <div class="col-lg-1 col-md-1">
                <img [src]="list.subjectPhotoUrl" class="subject-photo"/>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="title">{{list.title}}</div>
                <div class="description">
                  {{list.description}}
                </div>
              </div>
              <div class="col-lg-2 col-md-2">
                <span>
                  <img [src]="list.instructorPhotoUrl" class="subject-photo"/>
                </span>
                <span class="inst-font">{{list.instructorName}}</span>
              </div>
              <div class="col-lg-3 col-md-3">
                {{formatTime(list.time)}}
              </div>
          </div>
      </div>

  </div>

</body>
</html>
